# Docker/Compose env_file template

HERMES_HOME=/data/.karmabox_pro
HERMES_BASE_HOME=/data/.karmabox_pro
HERMES_CONFIG_PATH=/data/.karmabox_pro/config.yaml
HERMES_WEBUI_STATE_DIR=/data/.karmabox_pro/webui

HERMES_WEBUI_HOST=0.0.0.0
HERMES_WEBUI_PORT=8791
